<!DOCTYPE html>
<html>

   <head>
     <title>Timestamp Microservice</title>
     <meta charset="utf-8">      
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
     <link href="/public/css/style.css" rel="stylesheet" type="text/css">
     <link rel="stylesheet prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css">
   </head>

   <body>
      <div class="container">
        <div class="well">
         <h1>Request Header Parser Microservice</h1>
          <hr>
          <p>
            You can get your IP address, language, operating system, and browser specs by visiting:
            <a href="https://wistful-lamb.glitch.me/whoami" target="_blank">https://wistful-lamb.glitch.me/whoami</a>
            
          </p>
      
        <h2>Example output:</h2>
        <code>{ "ip address":"63.192.146.2",
          <br>
           "default langauge":"en-US",
          <br>
          "brower":"Chrome",
           <br>
           "version":"62.0.3202.89",
          <br>
          "os":"Windows 7",
           <br>
          "platform":"Microsoft Windows" 
           <br>
          }
        </code>
          </div> <!-- well -->
        <footer>
          <p>Github Repo <a href="https://github.com/maribelduran/request-header-parser-microservice" target="_blank">
          <span class="fa fa-github"></span>
        </a></p>
          <p>
            Built by <a href="http://www.maribelduran.com/" target="_blank">Maribel Duran</a>
          </p>
          </footer>
      </div> <!-- container -->
   </body>

</html>
